.Graph-content{
    grid-column: 4 / 13;
    grid-row: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding-top: 3vh;
}

.Graph-box{
    grid-column: 2 / 12;
    grid-row: 4/12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #ADC98B;
}

.Graph-inner-box{
    grid-column: 1 / 13;
    grid-row: 1/13;
    background-color: white;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.Graph{
    grid-column: 1 / 13;
    grid-row: 2/13;
}

.Graph-header{
    grid-column:  2/ 3;
    grid-row: 1/2;

    font-family: Rasa;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    color: black;

}

.current-time{
    grid-column:  4/ 5;
    grid-row: 1/2;
    font-family: Rasa;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

color: rgba(0, 0, 0, 0.56);
}

.current-prop{
    grid-column:  2/ 3;
    grid-row: 2/3;

    font-family: Rasa;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: left;

color: rgba(0, 0, 0, 0.8);
}

.min-prop{
    grid-column:  4/ 6;
    grid-row: 2/3;
    font-family: Rasa;
font-style: normal;
font-weight: normal;
font-size: 20px;

color: rgba(22, 29, 111, 0.8);

}

.max-prop{
    grid-column:  6/ 8;
    grid-row: 2/3;
    font-family: Rasa;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(145, 9, 30, 0.8);
}

.state-prop{
    grid-column:  2/ 3;
    grid-row: 3/4;
    font-family: Rasa;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    color: black;
}

