.profile-content{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(12, 1fr);
  
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background-image: url("../images/bg-signup.png");
    background-size: cover;
}

.profile-box{
    grid-column: 2 / 7;
    grid-row: 3 / 11;
    background: rgba(173, 201, 139, 0.8);
    mix-blend-mode: normal;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

}

.profile-box-session{
    grid-column: 8 / 13;
    grid-row: 3 / 11;
    background: rgba(173, 201, 139, 0.8);
    mix-blend-mode: normal;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

}

.profile-title{
    text-align: center;
    grid-column: 1 / 13;
    grid-row: 3 / 4;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.profile-form{
    grid-column: 2 / 12;
    grid-row: 4 / 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    row-gap: 10px;
    overflow: hidden;
}

.profile-form >input{
    background: inherit;
    background: transparent;
    border: none;
    padding-top: 20px;
    border-bottom: 1px solid #000000;
    outline: none;
}

.profile-form >input::placeholder{
    color: #1e212d;
}

.profile-form >input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(173, 201, 139, 0.8) inset;
}

.in-name{
    grid-column: 2 / 12;
    grid-row: 2 / 3;
}
.in-curp{
    grid-column: 2 / 12;
    grid-row: 3 / 4;
}
.in-rfc{
    grid-column: 2 / 12;
    grid-row: 4 / 5;
}
.in-phone{
    grid-column: 2 / 12;
    grid-row: 5 / 6;
}

.btn-form-profile {
    grid-column: 9 / 12;
    grid-row: 7 / 8;
    background: #F4F9F9;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    line-height: 30px;
    border-radius: 5px;
  
    color: rgba(29, 27, 27, 0.659);
}

.btn-cancel-edit {
    grid-column: 5 / 8;
    grid-row: 7 / 8;
    background: #fff9b0;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    line-height: 30px;
    border-radius: 5px;
  
    color: rgba(29, 27, 27, 0.659);
}

